<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Détail</ion-title>
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="image-container">
    <ion-img src="" alt="Image 1"></ion-img>
    <ion-img src="" alt="Image 2"></ion-img>
  </div>

  <div class="description-container">
    <h2>Modèle</h2>
    <p>Marque: </p>
    <br>
    <p>Plaque: </p>
  </div>
</ion-content>

