<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar animated="true" placeholder="Rechercher votre voiture"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div>
  <ion-list>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/cars/Nissan GT-R.jpeg"/>
      </ion-thumbnail>
      <ion-label>Nissan GT-R</ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/cars/1711553347188.jpeg"/>
      </ion-thumbnail>
      <ion-label>Honda Civic Type R</ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img src="assets/cars/mitsubishi-lancer-evolution-v-kit-a-monter-tt-02-tamiya-58713-p-image-62552-grande.jpg"/>
      </ion-thumbnail>
      <ion-label>Mistubishi Lancer Evolution</ion-label>
    </ion-item><ion-item>
    <ion-thumbnail slot="start">
      <img src="assets/cars/s-l1200.jpg"/>
    </ion-thumbnail>
    <ion-label>Toyota Trueno AE86</ion-label>
  </ion-item>
  </ion-list>
  </div>
</ion-content>
