<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar animated="true" placeholder="Rechercher votre voiture">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="center-block">
    <ion-card class="card">
      <img alt="Nissan GT-R" src="assets/cars/Nissan GT-R.jpeg" />
      <ion-card-header>
        <ion-card-title>Nissan GT-R</ion-card-title>
        <ion-card-subtitle>Cliquer pour voir les details</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card class="card">
      <img alt="Honda Civic Type R" src="assets/cars/1711553347188.jpeg" />
      <ion-card-header>
        <ion-card-title>Honda Civic Type R</ion-card-title>
        <ion-card-subtitle>Cliquer pour voir les details</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card class="card">
      <img alt="Mistubishi Lancer Evolution" src="assets/cars/s-l1200.jpg" />
      <ion-card-header>
        <ion-card-title>Mistubishi Lancer Evolution</ion-card-title>
        <ion-card-subtitle>Cliquer pour voir les details</ion-card-subtitle>
      </ion-card-header>
    </ion-card>

  </div>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon id="icon-add" name="add-circle" color="primary"></ion-icon>
<!--      +-->
    </ion-fab-button>
  </ion-fab>

</ion-content>
