<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form>
    <!-- Nom d’utilisateur -->
    <ion-item>
      <ion-label position="floating">Nom d’utilisateur</ion-label>
      <ion-input type="text" name="username" required></ion-input>
    </ion-item>

    <!-- Email -->
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" name="email" required></ion-input>
    </ion-item>

    <!-- Numéro de téléphone -->
    <ion-item>
      <ion-label position="floating">Numéro de téléphone</ion-label>
      <ion-input type="tel" name="phoneNumber" required></ion-input>
    </ion-item>

    <!-- Mot de passe -->
    <ion-item>
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input type="password" name="password" required></ion-input>
    </ion-item>

    <!-- Confirmer le mot de passe -->
    <ion-item>
      <ion-label position="floating">Confirmer le mot de passe</ion-label>
      <ion-input type="password" name="confirmPassword" required></ion-input>
    </ion-item>

    <div class="center-content">
    <!-- Bouton d'inscription -->
    <ion-button shape="round" type="submit" class="ion-margin-top" routerLink="/login">S'inscrire</ion-button>
    </div>
  </form>
</ion-content>
