<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<div class="center-block">
  <div class="block-container">
  <form [formGroup]="registerForm">
    <br>
    <!-- Nom d’utilisateur -->
    <ion-item>
      <ion-label position="floating">Nom d’utilisateur</ion-label>
      <ion-input type="text" name="username" required
                 formControlName="fullName"></ion-input>
    </ion-item>

    <br>

    <!-- Email -->
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" name="email" required
                 formControlName="email"></ion-input>
    </ion-item>
    <br>
    <!-- Numéro de téléphone -->
    <ion-item>
      <ion-label position="floating">Numéro de téléphone</ion-label>
      <ion-input type="tel" name="phoneNumber" required
                 formControlName="phone"></ion-input>
    </ion-item>
    <br>
    <!-- Mot de passe -->
    <ion-item>
      <ion-label position="floating">Mot de passe</ion-label>
      <ion-input type="password" name="password" required
                 formControlName="password" ></ion-input>
    </ion-item>

    <br>
    <!-- Confirmer le mot de passe -->
    <ion-item>
      <ion-label position="floating">Confirmer le mot de passe</ion-label>

      <ion-input type="password" name="confirmPassword" required
                 formControlName="confirmPassword" ></ion-input>
    </ion-item>
    <br>
    <div class="center-content">
    <!-- Bouton d'inscription -->
    <ion-button shape="round" type="submit" class="ion-margin-top" (click)="onSignUp()">
      S'inscrire
    </ion-button>
    </div>
  </form>

  </div>
</div>
</ion-content>
